<div class="user-list-container">
    <mat-toolbar class="user-list-toolbar">
        <!-- Search Field -->
        <mat-form-field appearance="outline" class="search-field">
            <input matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="applyFilter()" />
        </mat-form-field>

        <!-- Add User Button -->
        <button mat-icon-button color="primary" (click)="onAddUser()" aria-label="Add User">
            <mat-icon>add</mat-icon>
        </button>

        <!-- Delete Button -->
        <button mat-icon-button color="warn" (click)="onBulkDelete()" [disabled]="!selectedUsers.length"
            aria-label="Delete Selected Users">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Users Table -->
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="onSelectAll($event.checked)"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let user">
                    <mat-checkbox [(ngModel)]="user.selected"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let user" (click)="onUserClick(user)">
                    {{ user.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let user" (click)="onUserClick(user)">
                    {{ user.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let user" (click)="onUserClick(user)">
                    {{ user.phone }}
                </td>
            </ng-container>

            <!-- Table Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- Paginator -->
    <mat-paginator [length]="dataSource" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons></mat-paginator>
</div>